// Heading Color
$heading-color: #222;

// Text Color
$text-color: #333;

// Link Color
$link-color: #00467F;


// Default Background
$bg-default: #00467F;

// button background color
$btn-default: #00467F;


// Default Background transparent
$bg-default80: #00467F;

// Default Background transparent
$bg-default90: #00467F;

// dark background
$bg-dark: #9bc17d;

// Gray Background
$bg-gray: #f3f5f8;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #00467F;

// Hover Color
$hover-color: #8cb070;

// Footer Color
$footer-color: #2d2d2d;

// Primary Color
$primary-color: #00467F;

// Secondary Color
$secondary-color: #fff;

// Text Color
$text-color2: #474747;
