body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	/*margin:0;*/
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	/*margin-bottom:-4px;*/
	margin-top:4px;
}
td.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
p.Body-Text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.5;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Gen-Spec {
	-epub-hyphens:none;
	color:#608d3d;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:1.2em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.143;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	/*font-family:"Adobe Arabic", serif;*/
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
td.CellOverride-1 {
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-width:0px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-2 {
	background-color:#99b5cc;
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-3 {
	background-color:#99b5cc;
	border-bottom-color:#99b5cc;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-4 {
	background-color:#608d3d;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-5 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:2px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-6 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-7 {
	background-color:#608d3d;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-8 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-9 {
	background-color:#eef5e8;
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-10 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-11 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-12 {
	background-color:#608d3d;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-13 {
	background-color:#eef5e8;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-14 {
	background-color:#a7b98d;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-15 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-16 {
	background-color:#608d3d;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-17 {
	background-color:#eef5e8;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-18 {
	background-color:#c7d0b4;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-19 {
	background-color:#c7d0b4;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-20 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-21 {
	background-color:#608d3d;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-22 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-23 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-24 {
	background-color:#c7d0b4;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-25 {
	background-color:#eef5e8;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-26 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-27 {
	background-color:#f5f9f1;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-28 {
	background-color:#c7d0b4;
	border-bottom-color:#a7b98d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-29 {
	background-color:#eef5e8;
	border-bottom-color:#a7b98d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-30 {
	background-color:#c7d0b4;
	border-bottom-color:#a7b98d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-31 {
	background-color:#c7d0b4;
	border-bottom-color:#a7b98d;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-32 {
	background-color:#c7d0b4;
	border-bottom-color:#a7b98d;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-33 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-34 {
	background-color:#eef5e8;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-35 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-36 {
	background-color:#eef5e8;
	border-bottom-color:#a7b98d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-37 {
	background-color:#c7d0b4;
	border-bottom-color:#a7b98d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-38 {
	background-color:#c7d0b4;
	border-bottom-color:#a7b98d;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-39 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-40 {
	background-color:#c7d0b4;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#a7b98d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-41 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-42 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-43 {
	background-color:#c7d0b4;
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	vertical-align:middle;
}
td.CellOverride-44 {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
td.CellOverride-45 {
	background-color:#c7d0b4;
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:middle;
}
p.ParaOverride-1 {
	margin-bottom:0px;
	text-align:center;
}
p.ParaOverride-2 {
	margin-bottom:0px;
	text-align:left;
}
p.ParaOverride-3 {
	margin-bottom:0px;
}
p.ParaOverride-4 {
	text-align:left;
}
span.CharOverride-1 {
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-size:1em;
	font-style:normal;
	/*font-weight:bold;*/
	vertical-align:super;
}
span.CharOverride-3 {
	color:#ffffff;
	font-size:1em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	color:#ffffff;
	font-size:1em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-size:1em;
}
span.CharOverride-6 {
	color:#333;
	font-size:1em;
}
span.CharOverride-7 {
	font-size:1em;
	vertical-align:super;
}
span.CharOverride-8 {
	font-size:1em;
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-9 {
	font-size:1em;
	font-variant:normal;
	text-transform:uppercase;
	vertical-align:super;
}
span.CharOverride-10 {
	font-size:1em;
}
td._idGenCellOverride-1 {
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
}
td._idGenCellOverride-2 {
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:2px;
}
td._idGenCellOverride-3 {
	border-bottom-color:#ffffff;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
td._idGenCellOverride-4 {
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
}
td._idGenCellOverride-5 {
	border-bottom-color:#608d3d;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
col._idGenTableRowColumn-1 {
	width:78px;
}
col._idGenTableRowColumn-2 {
	width:173px;
}
col._idGenTableRowColumn-3 {
	width:128px;
}
tr._idGenTableRowColumn-4 {
	min-height:31px;
}
tr._idGenTableRowColumn-5 {
	min-height:16px;
}
tr._idGenTableRowColumn-6 {
	min-height:26px;
}
tr._idGenTableRowColumn-7 {
	min-height:36px;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
