body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
table.Gen-Specs {
	border-collapse:collapse;
	border-color:#a3ca83;
	border-style:solid;
	border-width:1px;
	margin-bottom:0px;
	margin-top:0px;
}
td.Gen-Specs {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
    vertical-align:top;
    min-width: 105px;
}
td.Header-Row-Left {
	background-color:#608d3d;
	border-bottom-color:#79aa52;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#79aa52;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#79aa52;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#79aa52;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.Header-Row-Middle {
	background-color:#608d3d;
	border-bottom-color:#79aa52;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#79aa52;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.Header-Row-Right {
	background-color:#608d3d;
	border-bottom-color:#79aa52;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#79aa52;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#79aa52;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.Table-Rows {
	background-color:#f4f8f1;
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-width:1px;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.Table-Rows-Heading {
	background-color:#608d3d;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#79aa52;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
td.Table-Rows-SubHeading {
	background-color:#c7d0b4;
	border-bottom-color:#ffffff;
	border-bottom-width:1px;
	border-left-color:#ffffff;
	border-left-width:1px;
	border-right-color:#ffffff;
	border-right-width:1px;
	border-top-color:#ffffff;
	border-top-width:1px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	padding-top:6px;
	vertical-align:middle;
}
p.Inside-pages_Symbols {
	color:#5f6062;
	font-family:Wingdings, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:0.875;
	margin-bottom:4px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Inside-pages_TABLE_text {
	color:#5f6062;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.267;
	margin-bottom:4px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Inside-pages_TABLE_text-Head {
	color:#ffffff;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.5;
	margin-bottom:3px;
	margin-left:0;
	margin-right:0;
	margin-top:9px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Inside-pages_TABLE_text-RowHeading {
	color:#ffffff;
	font-family:"Frutiger LT Std 55 Roman", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.267;
	margin-bottom:4px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Inside-pages_TABLE_text-RowSubHeading {
	color:#5f6062;
	font-family:"Frutiger LT Std 45 Light", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.267;
	margin-bottom:4px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Adobe Arabic", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
td.CellOverride-1 {
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-width:0px;
	border-top-width:0px;
}
td.CellOverride-2 {
	border-left-color:#608d3d;
	border-top-color:#608d3d;
	border-top-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
td.CellOverride-3 {
	border-left-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-4 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-5 {
	border-right-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-6 {
	border-left-color:#608d3d;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
td.CellOverride-7 {
	border-bottom-style:solid;
	border-left-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-8 {
	border-bottom-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-9 {
	border-bottom-style:solid;
	border-right-width:1px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-10 {
	border-left-color:#608d3d;
	border-right-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
td.CellOverride-11 {
	border-left-width:1px;
	border-right-style:solid;
	border-right-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
td.CellOverride-12 {
	border-bottom-style:solid;
	border-left-style:solid;
	border-left-width:1px;
	border-right-style:solid;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-13 {
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-14 {
	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-right-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-15 {
	border-left-width:1px;
	border-right-width:1px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
td.CellOverride-16 {
	border-bottom-style:solid;
	border-left-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-17 {
	border-bottom-style:solid;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-18 {
	border-bottom-style:solid;
	border-right-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-19 {
	border-bottom-style:solid;
	border-left-style:solid;
	border-left-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-20 {
	border-bottom-color:#608d3d;
	border-bottom-width:1px;
	border-left-color:#608d3d;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
}
td.CellOverride-21 {
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-22 {
	border-bottom-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
td.CellOverride-23 {
	border-bottom-width:1px;
	border-right-width:1px;
	border-top-style:solid;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
}
p.ParaOverride-1 {
	margin-bottom:0px;
}
span.CharOverride-1 {
	font-size:12px;
}
td._idGenCellOverride-1 {
	border-right-color:#79aa52;
	border-right-style:solid;
	border-right-width:1px;
}
td._idGenCellOverride-2 {
	border-right-color:#ffffff;
	border-right-style:solid;
	border-right-width:1px;
}
td._idGenCellOverride-3 {
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-top-color:#79aa52;
	border-top-style:solid;
	border-top-width:1px;
}
td._idGenCellOverride-4 {
	border-top-color:#79aa52;
	border-top-style:solid;
	border-top-width:1px;
}
td._idGenCellOverride-5 {
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
}
td._idGenCellOverride-6 {
	border-left-color:#ffffff;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#608d3d;
	border-right-style:solid;
	border-right-width:1px;
}
col._idGenTableRowColumn-1 {
	width:122px;
}
col._idGenTableRowColumn-2 {
	width:96px;
}
tr._idGenTableRowColumn-3 {
	height:31px;
}
tr._idGenTableRowColumn-4 {
	min-height:16px;
}
tr._idGenTableRowColumn-5 {
	min-height:21px;
}
tr._idGenTableRowColumn-6 {
	min-height:25px;
}
tr._idGenTableRowColumn-7 {
	min-height:17px;
}
tr._idGenTableRowColumn-8 {
	min-height:35px;
}
table._idGenTablePara-1 {
	margin-left:auto;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
